{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for table in tables %}
                <tr>

                        <td>Table</td>
                        <td>{{table[0]}}</td>
                        <td>

                            <form action="/change" method="post">
                                <input type="hidden" name="host" value="{{host}}">
                                <input type="hidden" name="database" value="{{database}}">
                                <input type="hidden" name="user"  value="{{user}}">
                                <input type="hidden" name="password"  value="{{password}}">
                                <button type="submit" name="TABLE_NAME" value="{{table[0]}}" class="btn btn-primary">Browse</button>
                            </form>
                        </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
